body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.contact-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.contact-us-img img {
  width: 100%;
}

.contact-form {
  width: 60%;
  text-align: center;
}

.contact-form h1 {
  margin-bottom: 1rem;
}

.contact-form h2 {
  margin-bottom: 1.5rem;
}

.contact-form label {
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.contact-form input[type="submit"] {
  background-color: red;
  color: white;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
}

.footer-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 2rem;
}

.footer-1 div {
  flex: 1;
  text-align: center;
}

.footer-1 a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #262627;
}

.footer-2 {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
  color: white;
  background-color: #262627;
}

.footer-2-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.footer-2-links a {
  color: white;
  text-decoration: none;
  padding-right: 1rem;
}
