.header__inner{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header__logo > img{
    width: 114px;
}
.header__menu > img{
    width: 24px;
}

.footer {
  position: fixed;
  bottom: 0;
}
.footer-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 2rem;
  }
  
  .footer-1 div {
    flex: 1;
    text-align: center;
  }
  
  .footer-1 a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    color: #262627;
  }
  
  .footer-2 {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
    color: white;
    background-color: #262627;
  }
  
  .footer-2-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
  }
  
  .footer-2-links a {
    color: white;
    text-decoration: none;
    padding-right: 1rem;
  }
